---
title: Welcome to Middleman
---
<div class="container">
  <div class="jumbotron">
    <h1>Middleman is Watching</h1>
    <p>
      <%= link_to "Read Online Documentation", "http://middlemanapp.com/", :class => "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>